page-login {
    ion-content {
        background: #003e4e;
        background: -moz-linear-gradient(top, #003e4e 60%, #008fb4 100%);
        background: -webkit-linear-gradient(top, #003e4e 60%, #008fb4 100%);
        background: linear-gradient(to bottom, #003e4e 60%, #008fb4 100%);
    }
    img {
        width: 150px;
    }
    h3 {
        color: white;
    }
    ion-item {
        background-color: transparent !important;
    }
    ion-label {
        color: #fff !important;
    }
    ion-input {
        color: #fff !important;
    }
}