<ion-menu [content]="content" type="overlay">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-item color="primary" no-lines>
                <!--
                <ion-avatar item-start (click)="cambiarImagen()">
                    <img [src]="persona?.NombreImagen | imagen">
                </ion-avatar>
                <h2>{{ persona?.Nombres + ' ' + persona?.Apellidos}}</h2>
                <small>{{ fechaActual | fechaCompleta }}</small>
                -->
                <h2>{{ text }}</h2>
            </ion-item>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-item-group>
            <!--
            <button *ngFor="let pagina of paginas" (click)="abrirPagina(pagina)" menuClose ion-item detail-none>
                <ion-icon [name]="pagina.icono"></ion-icon>
                {{ pagina.titulo }}
            </button>
            <button (click)="cerrarSesion()" ion-item detail-none>
                <ion-icon name="log-out"></ion-icon>
                Cerrar Sesi&oacute;n
            </button>
            <ion-note ion-item text-center>
                <small>{{ versionNumero }}</small>
            </ion-note>
            -->

            <ion-item>
                Listado de páginas
            </ion-item>
        </ion-item-group>
    </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>