<ion-menu [content]="content" type="overlay">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-item color="primary" no-lines>
                <ion-avatar item-start (click)="abrirModal()">
                    <img [src]="usuario?.nombreImagen | imagen">
                </ion-avatar>
            </ion-item>
            <ion-item color="primary" no-lines class="menu-nombre-usuario">
                <h2>{{ usuario?.nombres + ' ' + usuario?.apellidos}}</h2>
                <small>{{ fechaActual | fechaCompleta }}</small>
            </ion-item>
        </ion-toolbar>
    </ion-header>

    <ion-content padding-top>
        <ion-list no-lines>
            <div *ngFor="let pagina of paginas">
                <button *ngIf="pagina.titulo != 'divider'" (click)="abrirPagina(pagina)" ion-item menuClose detail-none text-wrap>
                    <ion-icon [name]="pagina.icono" margin-right color="gris-dark"></ion-icon>
                    {{ pagina.titulo }}
                </button>

                <div *ngIf="pagina.titulo === 'divider'" class="menu-hr"></div>
            </div>

            <button (click)="cerrarSesion()" ion-item detail-none text-wrap>
                <ion-icon name="md-log-out" margin-right color="gris-dark"></ion-icon>
                Cerrar Sesi&oacute;n
            </button>

            <div class="menu-hr"></div>

            <ion-note ion-item text-center>
                <small>{{ versionNumero }}</small>
            </ion-note>
        </ion-list>
    </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>